body {
  margin: 0 2em 0 2em;
}

h1, h4, h5, .sky, i {
  color: #7ec0ee;
}

p, h3 {
  color: #fff;
}

tr {
  background-color: #fdfdfd;
}

.pic {
  margin: 1em 0 1em 0;
}

.responsive {
  width: 100%;
  height: auto;
}